@import url('https://fonts.googleapis.com/css?family=Cousine');
/*Importing the emboss effect*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700&effect=emboss');
body {
  font-family: Cousine, monospace;
  margin: 10px auto;
  max-width: 600px;
  font-size: 18px;
  background-image: url("https://userscontent2.emaze.com/images/02cf0285-e049-4c3a-9093-f661da62ade6/4cc1fb0d6e0c452aab84a8206efbf689.jpg");
  background-size: cover;
}

header {
  text-align: center;
  padding: 20px;
  font-family: Inconsolata, monospace;
  color: #007a99 ;
}


/* Editing up the jumbotron element*/

.jumbotron {
  padding: 10px;
  /*This gives the text some area away from the edge of the element*/
  border-radius: 10px;
  margin-bottom: 50px;
  /*Adding space to the bottom*/
}

div {
  padding: 5px;
}
.jumbotron p {
  font-size: 17px;
}
h3 {
  color: #01336d;
  text-shadow: 0px 2px #00234c;
}
/*Styling up the table*/

table {
  border: 0px solid black;
  padding: 3px;
}

td {
  max-width: 200px;
  min-width: 80px;
  margin: 5px;
}

table tr td img {
  width: 70%;
  margin: 5px;
}